


@keyframes glowing {
  0% {border-color: #B20000;}
  50% {border-color: #3fe608;}
  100% {border-color: #2716e0;}
}

.tilted-right {
  perspective: 150px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
  transform: rotateY(25deg) scale(0.9) rotateX(12deg);
  border: 2px dashed white;
  overflow:hidden;

}

.tilted-left {
  perspective: 150px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
  transform: rotateY(12deg) scale(0.92) rotateX(25deg);
  border: 2px dashed white;
  overflow:hidden;

}

.notTilted {
  perspective: 150px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
  transform: rotateY(0deg) scale(0.96) rotateX(0deg);
  overflow:hidden;

}

.tilted:hover {
  border-color:red;
  color:red;

}


.book-page-tilted-left {
  transform: skewY(-10deg) scale(0.9);
  border: 1px solid #000;
  width: 200px;
  height: 300px;
  position: relative;
  background: #fff;
  box-shadow: -10px 10px 5px rgba(0,0,0,0.5);
  overflow: hidden;
}

.book-page-tilted-right {
  transform: skewY(10deg);
  border: 1px solid #000;
  width: 200px;
  height: 300px;
  position: relative;
  background: #fff;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}







