


@keyframes glowing {
  0% {border-color: #B20000;}
  50% {border-color: #3fe608;}
  100% {border-color: #2716e0;}
}

.tilted {
  perspective: 150px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
  transform: rotateY(25deg) scale(0.9) rotateX(12deg);
  border: 2px dashed white;
  overflow:hidden;

}

.tilted:hover {
  border-color:red;
  color:red;

}







